* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #e5e5e5;
}

.main-nav {
    background-color: #2f2f2f;
    margin-top: 0;          /* ensure no gap */
    margin-bottom: 6rem;
}

/* ---------- HEADER ---------- */
.header-title {
    background-color: #1f4d6b;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 3px;
}

nav {
    background-color: #2f2f2f;
}

nav ul {
    list-style: none;
    display: flex;
   
}

nav li {
    flex: 1;
    text-align: center;
}

nav a {
    display: block;
    padding: 14px;
    color: white;
    text-decoration: none;
}

/* ---------- MAIN ---------- */
main {
    max-width: 1100px;
    margin: 30px auto;
}

.name-banner {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

/* ---------- CONTENT GRID ---------- */
.content-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

/* ---------- CARDS ---------- */
.card {
    background-color: white;
    border: 1px solid #bbb;
    border-radius: 5px;
}

/* Card headers */
.card-header {
    background-color: #1f4d6b;
    color: white;
    padding: 12px;
    font-weight: bold;
}

/* Card body */
.card-body {
    padding: 15px;
}

.about-me{
    border-radius: 12px;
    padding: 20px;
    background-color: #ffffff70;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    margin:0;
}

/* About Me top section */
.about-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    margin-bottom: 20px ;
    margin-top: 0;
    background-color: #1f4d6b;
    margin: -20px -20px 20px -20px;  /* ⬅ key line */
    padding: 15px 20px;
    
}

/* Country section */
.country {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.country-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
}

.country img {
    width: 100%;
    border: 1px solid #ccc;
}

/* ---------- ASIDE ---------- */
.skills {
    list-style: disc;
    padding: 20px 20px 20px 20px;
    border-radius: 12px;
    background-color: #ffffff70;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.skills-top{
    display: grid;
    margin-bottom: 20px ;
    margin-top: 0;
    background-color: #1f4d6b;
    padding: 20px 20px 20px 20px;  /* ⬅ key line */
    padding: 15px 20px;
    border-radius: 12px 12px 0 0;
}

.skills ul{

    list-style: none;
    margin: 0;
    padding: 20px 0 0 0;
    text-align: center;
}

.skills li {
    margin-bottom: 10px;
    font-size: 1rem;
}
/* ---------- FOOTER ---------- */
footer {
    background-color: #1f4d6b;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 0.9rem;
}
